@import "node_modules/bootstrap/scss/bootstrap";
@import '~@fortawesome/fontawesome-free/css/all.min.css';

body {
  font-size: 1.3rem;
}

img {
  width: auto;
  @media (max-width: 575.98px) {
    width: 100%;
  }
}

.msg-success {
  position: absolute;
  right: 2rem;
  @media (max-width: 575.98px) {
    right: .2rem;
  }
}
